#container {
  padding-top: 60px;
}

.container {
  max-width: none !important;
  width: 920px !important;
}

#footer {
  height: 60px;
  /*background-color: #1B1B1B;*/
  /*background-image: linear-gradient(to bottom, #222222, #111111);*/
  margin-top: 30px;
}

#footer .container {
  border-top: 1px solid #CCC;
}

.credit {
  margin: 20px 0;
  text-align: center;
}

/* sticky footer */
html, body {
  height: 100%; /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%; 
  /* Negative indent footer by its height */
  margin: 0 auto 0px; 
  /* Pad bottom by footer height */
  /*padding: 0 0 120px 0;  60 footer + 60 wrap */
  padding: 0; /* 60 footer + 60 wrap */
}

.reserva {
  /*background-color: red;*/
  margin-top: -10px;
  padding-left: 5px;
}

.fijo {
  background-color: #6495ED;  
}
.noFijo {
  background-color: #B0E0E6;  
}

.dp_room, .dp_group {
  /*display: none !important;*/
}

.reservation_form div.control-group {
  margin-bottom: 0px;
}

.reservation_form input[type="text"] {
  height: 14px;
}

.room_selection {
  width: 80px;
}

#mapa td {
  line-height: 10px;
}


/* ROW COLORS */
.table tbody tr > td.success {
  background-color: #dff0d8 !important;
}

.table tbody tr > td.error {
  background-color: #f2dede !important;
}

.table tbody tr > td.warning {
  background-color: #fcf8e3 !important;
}

.table tbody tr > td.info {
  background-color: #d9edf7 !important;
}

.table-hover tbody tr:hover > td.success {
  background-color: #d0e9c6 !important;
}

.table-hover tbody tr:hover > td.error {
  background-color: #ebcccc !important;
}

.table-hover tbody tr:hover > td.warning {
  background-color: #faf2cc !important;
}

.table-hover tbody tr:hover > td.info {
  background-color: #c4e3f3 !important;
}

/* MAPA DE RESERVAS */
.circle {
  /*height: 10px;*/
  /*-moz-border-radius: 10px;*/
  /*-webkit-border-radius: 10px;*/
  background-color: blue !important;
}

.circle_left {
  border-radius: 10px 0px 0px 10px;
}

.circle_rigth {
  border-radius: 0px 10px 10px 0px;
}