<div id="footer">
  <div class="container">
    <p class="muted credit"><a href="http://google.com.ar">hotel-euskadi.com.ar</a> diseñado por <a href="http://google.com.ar">Andr&eacute;s Valle</a>.</p>
  </div>
</div>

<pre><%= debug(params) %></pre>
<pre><%= @debugs.each{ |d| debug(d) } %></pre>
