<div id="footer">
  <div class="container">
    <p class="muted credit">
      <%= link_to 'hotel-euskadi.com.ar', root_path %> diseñado por <%= link_to 'Andrés Valle', 'javascript:;' %>.
    </p>
  </div>
</div>

<% if Rails.env.development? %>
<pre><%= debug(params) %></pre>
<pre><%= @debugs.each{ |d| debug(d) } %></pre>
<% end %>
